name: Danger	
on: [pull_request]
	
jobs:
  danger:
    name: Danger
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the Git repository
      uses: actions/checkout@v1
    - name: Danger Swift
      uses: danger/swift@2.0.1
      env:
	GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
